[submodule "DQN"]
	path = DQN
	url = https://github.com/zash13/DQN_Agent.git
[submodule "V2/DQN"]
	path = V2/DQN
	url = https://github.com/zash13/DQN_Agent.git
[submodule "V3/DQN"]
	path = V3/DQN
	url = https://github.com/zash13/DQN_Agent.git
[submodule "V2/sumo-rl"]
	path = V2/sumo-rl
	url = https://github.com/LucasAlegre/sumo-rl.git
[submodule "V3/sumo_home"]
	path = V3/sumo_home
	url = https://github.com/eclipse-sumo/sumo
[submodule "V3/DQN_Agent"]
	path = V3/DQN_Agent
	url = https://github.com/zash13/DQN_Agent.git
